@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --petrol: #64a19d;
  --petrol-transparent: #64a19d90;
  --petrol-dark: #325048;
  --petrol-dark-transparent: #32504890;
  --petrol: #64a19d;
  --yellow: #f7ff00;
  --navbar-height: 60px;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #000;
  background-image: url("./assets/images/logo_1920.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  background-attachment: fixed;
}

#root {
  position: relative;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

/* SMALL MOBILE */
/* NAV */

nav {
  position: fixed;
  line-height: 0;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  padding: 0 max(1rem, calc((100vw - 1000px) * 0.5));
  display: flex;
  align-items: center;
  background-color: #ffffff90;
  color: var(--petrol);
  z-index: 100;
  opacity: 0;
}

nav h2 {
  margin-right: auto;
  font-size: 1em;
  color: #000;
}

/* HERO */

.hero-container {
  width: 100vw;
  height: 100lvh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  scroll-snap-align: start;
}

.hero {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50lvh 25lvh 25lvh;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    300deg,
    #00000090,
    var(--petrol-dark-transparent),
    var(--petrol-transparent)
  );
  background-size: 180% 180%;
  animation-name: gradient-animation;
  animation-duration: 30s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.band-img-container-wrap {
  margin-left: auto;
  padding: 10vw;
  padding-left: 0;
  perspective: 370px;
  transform-style: preserve-3d;
}

.band-img-container {
  transform: rotateY(-20deg);
}

.band-img {
  box-shadow: 2px 2px 10px 2px #000000;
  height: min(50vw, 40lvh, 216px);
}

.slide-in {
  opacity: 0;
  animation-name: slide-in;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.from-right {
  transform: translateX(50vw);
}

.from-left {
  transform: translateX(-50vw);
}

.from-bottom {
  transform: translateY(50vh);
}

.delay1 {
  animation-delay: 4s;
}

.delay2 {
  animation-delay: 5s;
}

.delay3 {
  animation-delay: 5.5s;
}

.delay4 {
  animation-delay: 6s;
}

.delay5 {
  animation-delay: 6.5s;
}

.delay6 {
  animation-delay: 7s;
}

.delay7 {
  animation-delay: 8s;
}

@keyframes slide-in {
  100% {
    transform: translateX(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

.links-container {
  height: 48px;
  background-color: #00000000;
  margin: auto;
  margin-bottom: 8px;
}

.links-container > .links {
  display: grid;
  grid-template-columns: repeat(5, 48px);
  grid-template-rows: 100%;
  gap: 8px;
}

.links-container > .links > a {
  width: 100%;
  height: 100%;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
}

.band-info {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.band-info h2 {
  margin: 0;
  padding: 1rem 0;
}

.band-info p {
  margin: 0;
  padding: 0.5rem 0;
}

.bandinfo-pdf {
  background-color: var(--yellow);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  box-shadow:
    10px 0 10px 0 #00000070,
    10px 0 10px 0 #00000040;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  max-width: 80%;
}

.quotes-container {
  position: relative;
  margin: auto;
  margin-top: 1rem;
  width: min(80vw, 512px);
}

.quotes {
  font-size: 12px;
}

.quotes em {
  font-size: 14px;
}

.quote {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}

.visible {
  transform: translateY(160px);
  opacity: 0;
  animation-name: slide-in-quote;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes slide-in-quote {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.invisible {
  transform: translateY(0px);
  opacity: 1;
  animation-name: slide-out-quote;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes slide-out-quote {
  100% {
    transform: translateY(160px);
    opacity: 0;
  }
}

.arrow-down {
  position: fixed;
  bottom: 5%;
  font-size: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border: none;
  background-color: #00000000;
}

/* INFO */
.info-container {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  scroll-snap-align: start;
}

.info {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    300deg,
    #00000090,
    var(--petrol-dark-transparent),
    var(--yellow)
  );
  background-size: 180% 180%;
  animation-name: gradient-animation;
  animation-duration: 30s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* MUSIC */

/* ELSE */

/* REG MOBILE */
@media (min-width: 512px) {
  /* NAV */

  /* HERO */
  .band-img {
    height: min(50vw, 30lvh, 320px);
  }

  .links-container {
    height: auto;
    width: 64px;
    margin-bottom: 0;
    margin-top: -15lvh;
    margin-left: 8px;
    margin-right: auto;
  }

  .links-container > .links {
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 64px);
  }

  /* INFO */

  /* MUSIC */

  /* ELSE */
}

/* TABLET */
/* HERO */

/* INFO */

/* MUSIC */

/* ELSE */

/* DESKTOP */
/* HERO */

/* INFO */

/* MUSIC */

/* ELSE */
